
<div class="content-container" ng-controller="AfricasTalkingCommunicationsController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">{{'label.anchor.africastalking' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>{{'label.anchor.africastalking' | translate}}</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="btn-group">
                        <a href="#/createwhatsappmessage" class="btn btn-primary" has-permission='CREATE_COMMUNICATION'>
                            <i class="fa fa-whatsapp"></i>&nbsp;&nbsp;{{'label.button.sendwhatsapp' | translate}}
                        </a>
                        <a href="#/createvoicecall" class="btn btn-primary" has-permission='CREATE_COMMUNICATION'>
                            <i class="fa fa-phone"></i>&nbsp;&nbsp;{{'label.button.initiatevoicecall' | translate}}
                        </a>
                        <button type="button" class="btn btn-default" data-ng-click="refreshAll()">
                            <i class="fa fa-refresh"></i>&nbsp;&nbsp;{{'label.button.refresh' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="alert alert-danger" ng-if="loadError">{{loadError}}</div>
            <div class="alert alert-info" ng-if="loadingMessages || loadingVoiceCalls">Loading communications...</div>
            <uib-tabset tabset-name="africastalkingTabset">
                <uib-tab heading="{{'label.heading.whatsappmessages' | translate}}" has-permission='READ_COMMUNICATION'>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <input ng-model="filterText" type="text" class="form-control"
                                   placeholder="{{'label.input.filterbyname' | translate}}">
                        </div>
                    </div>
                    <br>
                    <ul class="nav nav-pills">
                        <li ng-repeat="tab in statusTabs" ng-class="{active: selectedStatus === tab.id}">
                            <a href="" ng-click="selectedStatus = tab.id">{{tab.name}}</a>
                        </li>
                    </ul>
                    <br>
                    <table class="table">
                        <thead>
                        <tr class="graybg">
                            <th>{{'label.heading.mobilenumber' | translate}}</th>
                            <th>{{'label.heading.message' | translate}}</th>
                            <th>{{'label.heading.direction' | translate}}</th>
                            <th>{{'label.heading.recipienttype' | translate}}</th>
                            <th>{{'label.heading.status' | translate}}</th>
                            <th>{{'label.heading.submittedondate' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="pointer-main"
                            dir-paginate="message in messages | filter:filterMessages | itemsPerPage: messagesPerPage"
                            pagination-id="messagesPagination">
                            <td class="pointer" data-ng-click="routeToMessage(message.id)">{{message.phoneNumber}}</td>
                            <td class="pointer" data-ng-click="routeToMessage(message.id)">{{message.messageBody}}</td>
                            <td class="pointer" data-ng-click="routeToMessage(message.id)">{{message.direction}}</td>
                            <td class="pointer" data-ng-click="routeToMessage(message.id)">{{message.recipientType}}</td>
                            <td class="pointer" data-ng-click="routeToMessage(message.id)">{{message.status}}</td>
                            <td class="pointer" data-ng-click="routeToMessage(message.id)">{{message.createdDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls boundary-links="true"
                                             template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"
                                             pagination-id="messagesPagination"></dir-pagination-controls>
                </uib-tab>

                <uib-tab heading="{{'label.heading.voicecalls' | translate}}" has-permission='READ_COMMUNICATION'>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <input ng-model="voiceFilterText" type="text" class="form-control"
                                   placeholder="{{'label.input.filterbyname' | translate}}">
                        </div>
                    </div>
                    <br>
                    <table class="table">
                        <thead>
                        <tr class="graybg">
                            <th>{{'label.heading.caller' | translate}}</th>
                            <th>{{'label.heading.destination' | translate}}</th>
                            <th>{{'label.heading.direction' | translate}}</th>
                            <th>{{'label.heading.status' | translate}}</th>
                            <th>{{'label.heading.duration' | translate}}</th>
                            <th>{{'label.heading.submittedondate' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="pointer-main"
                            dir-paginate="callLog in voiceCalls | filter:filterVoiceCalls | itemsPerPage: voiceCallsPerPage"
                            pagination-id="voicePagination">
                            <td class="pointer" data-ng-click="routeToVoiceCall(callLog.id)">{{callLog.callerNumber}}</td>
                            <td class="pointer" data-ng-click="routeToVoiceCall(callLog.id)">{{callLog.destinationNumber}}</td>
                            <td class="pointer" data-ng-click="routeToVoiceCall(callLog.id)">{{callLog.direction}}</td>
                            <td class="pointer" data-ng-click="routeToVoiceCall(callLog.id)">{{callLog.status}}</td>
                            <td class="pointer" data-ng-click="routeToVoiceCall(callLog.id)">{{callLog.durationSeconds}}</td>
                            <td class="pointer" data-ng-click="routeToVoiceCall(callLog.id)">{{callLog.createdDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls boundary-links="true"
                                             template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"
                                             pagination-id="voicePagination"></dir-pagination-controls>
                </uib-tab>

                <uib-tab heading="{{'label.heading.advisorinbox' | translate}}" has-permission='READ_COMMUNICATION'>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <select class="form-control" ng-model="selectedTicketStatus" ng-change="loadSupportTickets()">
                                <option value="ALL">{{'label.heading.all' | translate}}</option>
                                <option ng-repeat="status in ticketStatuses" value="{{status}}">{{status}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <table class="table">
                        <thead>
                        <tr class="graybg">
                            <th>{{'label.heading.ticketnumber' | translate}}</th>
                            <th>{{'label.heading.mobilenumber' | translate}}</th>
                            <th>{{'label.heading.client' | translate}}</th>
                            <th>{{'label.heading.status' | translate}}</th>
                            <th>{{'label.heading.priority' | translate}}</th>
                            <th>{{'label.heading.assignedto' | translate}}</th>
                            <th>{{'label.heading.submittedondate' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="pointer-main" ng-repeat="ticket in supportTickets">
                            <td class="pointer" ng-click="routeToTicket(ticket.id)">{{ticket.ticketNumber}}</td>
                            <td class="pointer" ng-click="routeToTicket(ticket.id)">{{ticket.phoneNumber}}</td>
                            <td class="pointer" ng-click="routeToTicket(ticket.id)">{{ticket.clientDisplayName}}</td>
                            <td class="pointer" ng-click="routeToTicket(ticket.id)">{{ticket.status}}</td>
                            <td class="pointer" ng-click="routeToTicket(ticket.id)">{{ticket.priority}}</td>
                            <td class="pointer" ng-click="routeToTicket(ticket.id)">{{ticket.assignedStaffName}}</td>
                            <td class="pointer" ng-click="routeToTicket(ticket.id)">{{ticket.createdDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>

                <uib-tab heading="{{'label.heading.interactivedashboard' | translate}}" has-permission='READ_COMMUNICATION'>
                    <br>
                    <div ng-if="interactiveDashboard">
                        <table class="table table-bordered table-striped">
                            <tr><td>{{'label.heading.activesessions' | translate}}</td><td>{{interactiveDashboard.activeSessions}}</td></tr>
                            <tr><td>{{'label.heading.clientactivesessions' | translate}}</td><td>{{interactiveDashboard.clientActiveSessions}}</td></tr>
                            <tr><td>{{'label.heading.staffactivesessions' | translate}}</td><td>{{interactiveDashboard.staffActiveSessions}}</td></tr>
                            <tr><td>{{'label.heading.opentickets' | translate}}</td><td>{{interactiveDashboard.openTickets}}</td></tr>
                            <tr><td>{{'label.heading.slabreachedtickets' | translate}}</td><td>{{interactiveDashboard.slaBreachedTickets}}</td></tr>
                            <tr><td>{{'label.heading.inboundmessagestoday' | translate}}</td><td>{{interactiveDashboard.inboundMessagesToday}}</td></tr>
                            <tr><td>{{'label.heading.outboundmessagestoday' | translate}}</td><td>{{interactiveDashboard.outboundMessagesToday}}</td></tr>
                            <tr><td>{{'label.heading.optedoutclients' | translate}}</td><td>{{interactiveDashboard.optedOutClients}}</td></tr>
                            <tr><td>{{'label.heading.ticketsresolvedtoday' | translate}}</td><td>{{interactiveDashboard.ticketsResolvedToday}}</td></tr>
                        </table>
                    </div>
                </uib-tab>

                <uib-tab heading="{{'label.heading.conversationsearch' | translate}}" has-permission='READ_COMMUNICATION'>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <input class="form-control" ng-model="conversationSearch.phoneNumber" placeholder="{{'label.heading.mobilenumber' | translate}}">
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <input class="form-control" ng-model="conversationSearch.clientId" placeholder="{{'label.heading.clientid' | translate}}">
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <input class="form-control" ng-model="conversationSearch.text" placeholder="{{'label.heading.message' | translate}}">
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <input class="form-control" type="date" ng-model="conversationSearch.fromDate">
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <input class="form-control" type="date" ng-model="conversationSearch.toDate">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <select class="form-control" ng-model="conversationSearch.recipientType">
                                <option value="">{{'label.heading.all' | translate}}</option>
                                <option value="CLIENT">CLIENT</option>
                                <option value="STAFF">STAFF</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <button class="btn btn-primary" ng-click="searchConversations()">{{'label.button.search' | translate}}</button>
                        </div>
                    </div>
                    <br>
                    <table class="table">
                        <thead>
                        <tr class="graybg">
                            <th>{{'label.heading.mobilenumber' | translate}}</th>
                            <th>{{'label.heading.client' | translate}}</th>
                            <th>{{'label.heading.direction' | translate}}</th>
                            <th>{{'label.heading.recipienttype' | translate}}</th>
                            <th>{{'label.heading.message' | translate}}</th>
                            <th>{{'label.heading.submittedondate' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="result in conversationResults">
                            <td>{{result.phoneNumber}}</td>
                            <td>{{result.clientDisplayName}}</td>
                            <td>{{result.direction}}</td>
                            <td>{{result.recipientType}}</td>
                            <td>{{result.messageBody}}</td>
                            <td>{{result.createdDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>

                <uib-tab heading="{{'label.heading.interactiveconfig' | translate}}" has-permission='CONFIGURE_AFRICASTALKING'>
                    <br>
                    <div class="alert alert-success" ng-if="configSaveMessage">{{configSaveMessage}}</div>
                    <div class="panel panel-default" ng-repeat="area in configAreas">
                        <div class="panel-heading"><strong>{{area.label}}</strong> ({{area.area}})</div>
                        <div class="panel-body">
                            <p ng-if="area.managedExternally" class="text-muted">
                                {{'label.heading.managedexternally' | translate}}: {{area.externalEndpoint}}
                            </p>
                            <div ng-if="!area.managedExternally">
                                <div class="form-group" ng-repeat="(key, value) in area.settings">
                                    <label>{{key}}</label>
                                    <input ng-if="!isBooleanSetting(key, value)" class="form-control" ng-model="area.settings[key]">
                                    <div ng-if="isBooleanSetting(key, value)">
                                        <input type="checkbox"
                                               ng-checked="asBoolean(area.settings[key])"
                                               ng-click="setBooleanSetting(area, key, !asBoolean(area.settings[key]))">
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-sm" ng-click="saveConfigArea(area)">
                                    {{'label.button.save' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="{{'label.heading.businesshours' | translate}}" has-permission='CONFIGURE_AFRICASTALKING'>
                    <br>
                    <table class="table table-bordered">
                        <thead>
                        <tr class="graybg">
                            <th>{{'label.heading.day' | translate}}</th>
                            <th>{{'label.heading.opentime' | translate}}</th>
                            <th>{{'label.heading.closetime' | translate}}</th>
                            <th>{{'label.heading.enabled' | translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="hours in businessHours">
                            <td>{{dayNames[hours.dayOfWeek]}}</td>
                            <td><input class="form-control" ng-model="hours.openTime"></td>
                            <td><input class="form-control" ng-model="hours.closeTime"></td>
                            <td><input type="checkbox" ng-model="hours.enabled"></td>
                            <td>
                                <button class="btn btn-default btn-sm" ng-click="saveBusinessHours(hours)">
                                    {{'label.button.save' | translate}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>

                <uib-tab heading="{{'label.heading.interactivemenus' | translate}}" has-permission='CONFIGURE_AFRICASTALKING'>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <input class="form-control" ng-model="menuFilter.menuKey" placeholder="{{'label.heading.menukey' | translate}}">
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <input class="form-control" ng-model="menuFilter.languageCode" placeholder="{{'label.heading.language' | translate}}">
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <button class="btn btn-default" ng-click="loadMenuDefinitions(); loadMenuOptions();">
                                {{'label.button.refresh' | translate}}
                            </button>
                        </div>
                    </div>
                    <br>
                    <h5>{{'label.heading.menudefinitions' | translate}}</h5>
                    <table class="table table-bordered">
                        <thead>
                        <tr class="graybg">
                            <th>{{'label.heading.menukey' | translate}}</th>
                            <th>{{'label.heading.language' | translate}}</th>
                            <th>{{'label.heading.headertext' | translate}}</th>
                            <th>{{'label.heading.parentmenu' | translate}}</th>
                            <th>{{'label.heading.enabled' | translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="definition in menuDefinitions">
                            <td>{{definition.menuKey}}</td>
                            <td>{{definition.languageCode}}</td>
                            <td><input class="form-control" ng-model="definition.headerText"></td>
                            <td><input class="form-control" ng-model="definition.parentMenuKey"></td>
                            <td><input type="checkbox" ng-model="definition.enabled"></td>
                            <td>
                                <button class="btn btn-default btn-sm" ng-click="saveMenuDefinition(definition)">
                                    {{'label.button.save' | translate}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h5>{{'label.heading.menuoptions' | translate}}</h5>
                    <table class="table table-bordered">
                        <thead>
                        <tr class="graybg">
                            <th>#</th>
                            <th>{{'label.heading.label' | translate}}</th>
                            <th>{{'label.heading.actiontype' | translate}}</th>
                            <th>{{'label.heading.actiontarget' | translate}}</th>
                            <th>{{'label.heading.enabled' | translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="option in menuOptions">
                            <td><input class="form-control" ng-model="option.optionNumber" style="width:60px"></td>
                            <td><input class="form-control" ng-model="option.optionLabel"></td>
                            <td>
                                <select class="form-control" ng-model="option.actionType" ng-options="type for type in menuActionTypes"></select>
                            </td>
                            <td><input class="form-control" ng-model="option.actionTarget"></td>
                            <td><input type="checkbox" ng-model="option.enabled"></td>
                            <td>
                                <button class="btn btn-default btn-sm" ng-click="saveMenuOption(option)">{{'label.button.save' | translate}}</button>
                                <button class="btn btn-danger btn-sm" ng-click="deleteMenuOption(option.id)">{{'label.button.delete' | translate}}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h5>{{'label.heading.addmenuoption' | translate}}</h5>
                    <div class="row">
                        <div class="col-sm-2"><input class="form-control" ng-model="newMenuOption.menuKey" placeholder="{{'label.heading.menukey' | translate}}"></div>
                        <div class="col-sm-2"><input class="form-control" ng-model="newMenuOption.languageCode" placeholder="{{'label.heading.language' | translate}}"></div>
                        <div class="col-sm-1"><input class="form-control" ng-model="newMenuOption.optionNumber" placeholder="#"></div>
                        <div class="col-sm-2"><input class="form-control" ng-model="newMenuOption.optionLabel" placeholder="{{'label.heading.label' | translate}}"></div>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="newMenuOption.actionType" ng-options="type for type in menuActionTypes"></select>
                        </div>
                        <div class="col-sm-2"><input class="form-control" ng-model="newMenuOption.actionTarget" placeholder="{{'label.heading.actiontarget' | translate}}"></div>
                        <div class="col-sm-1">
                            <button class="btn btn-primary" ng-click="createMenuOption()">{{'label.button.add' | translate}}</button>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="{{'label.heading.voiceoperations' | translate}}" has-permission='READ_COMMUNICATION'>
                    <br>
                    <div ng-if="voiceDashboard">
                        <table class="table table-bordered table-striped">
                            <tr><td>{{'label.heading.activeivrsessions' | translate}}</td><td>{{voiceDashboard.activeIvrSessions}}</td></tr>
                            <tr><td>{{'label.heading.queuedcallers' | translate}}</td><td>{{voiceDashboard.queuedCallers}}</td></tr>
                            <tr><td>{{'label.heading.pendingcallbacks' | translate}}</td><td>{{voiceDashboard.pendingCallbacks}}</td></tr>
                            <tr><td>{{'label.heading.voicemailstoday' | translate}}</td><td>{{voiceDashboard.voicemailsToday}}</td></tr>
                            <tr><td>{{'label.heading.inboundcallstoday' | translate}}</td><td>{{voiceDashboard.inboundCallsToday}}</td></tr>
                            <tr><td>{{'label.heading.outboundcallstoday' | translate}}</td><td>{{voiceDashboard.outboundCallsToday}}</td></tr>
                            <tr><td>{{'label.heading.openvoicetickets' | translate}}</td><td>{{voiceDashboard.openVoiceTickets}}</td></tr>
                        </table>
                    </div>
                    <h5>{{'label.heading.pendingcallbacks' | translate}}</h5>
                    <table class="table">
                        <thead>
                        <tr class="graybg">
                            <th>{{'label.heading.caller' | translate}}</th>
                            <th>{{'label.heading.department' | translate}}</th>
                            <th>{{'label.heading.status' | translate}}</th>
                            <th>{{'label.heading.submittedondate' | translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="callback in voiceCallbacks">
                            <td>{{callback.callerNumber}}</td>
                            <td>{{callback.departmentCode}}</td>
                            <td>{{callback.status}}</td>
                            <td>{{callback.createdDate}}</td>
                            <td>
                                <button class="btn btn-default btn-sm" has-permission='CREATE_COMMUNICATION'
                                        ng-if="callback.status === 'PENDING' || callback.status === 'SCHEDULED'"
                                        ng-click="dispatchCallback(callback.id)">
                                    {{'label.button.dispatchcallback' | translate}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h5>{{'label.heading.voicemails' | translate}}</h5>
                    <table class="table">
                        <thead>
                        <tr class="graybg">
                            <th>{{'label.heading.caller' | translate}}</th>
                            <th>{{'label.heading.department' | translate}}</th>
                            <th>{{'label.heading.status' | translate}}</th>
                            <th>{{'label.heading.recording' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="voicemail in voiceVoicemails">
                            <td>{{voicemail.callerNumber}}</td>
                            <td>{{voicemail.departmentCode}}</td>
                            <td>{{voicemail.status}}</td>
                            <td><a ng-if="voicemail.recordingUrl" href="{{voicemail.recordingUrl}}" target="_blank">Play</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <h5>{{'label.heading.callqueue' | translate}}</h5>
                    <table class="table">
                        <thead>
                        <tr class="graybg">
                            <th>{{'label.heading.caller' | translate}}</th>
                            <th>{{'label.heading.department' | translate}}</th>
                            <th>{{'label.heading.queueposition' | translate}}</th>
                            <th>{{'label.heading.status' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="entry in voiceQueue">
                            <td>{{entry.callerNumber}}</td>
                            <td>{{entry.departmentCode}}</td>
                            <td>{{entry.queuePosition}}</td>
                            <td>{{entry.status}}</td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>

                <uib-tab heading="{{'label.heading.connectivity' | translate}}" has-permission='CONFIGURE_AFRICASTALKING'>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" data-ng-click="testConnectivity('all')">
                                    {{'label.button.testallchannels' | translate}}
                                </button>
                                <button type="button" class="btn btn-default" data-ng-click="testConnectivity('whatsapp')">
                                    {{'label.button.testwhatsapp' | translate}}
                                </button>
                                <button type="button" class="btn btn-default" data-ng-click="testConnectivity('voice')">
                                    {{'label.button.testvoice' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div ng-if="connectivityResult">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td><strong>{{'label.heading.integrationenabled' | translate}}</strong></td>
                                <td>{{connectivityResult.integrationEnabled}}</td>
                            </tr>
                            <tr>
                                <td><strong>{{'label.heading.configured' | translate}}</strong></td>
                                <td>{{connectivityResult.configured}}</td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-striped" ng-if="connectivityResult.channels.length">
                            <thead>
                            <tr>
                                <th>{{'label.heading.channel' | translate}}</th>
                                <th>{{'label.heading.status' | translate}}</th>
                                <th>{{'label.heading.latency' | translate}}</th>
                                <th>{{'label.heading.message' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="channel in connectivityResult.channels">
                                <td>{{channel.channel}}</td>
                                <td>{{channel.connected}}</td>
                                <td>{{channel.latencyMillis}}</td>
                                <td>{{channel.message}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
