<div class="content-container" ng-controller="ViewProvisioningEntryController">
    <ul class="breadcrumb">
        <li><a href="#/accounting">{{'label.anchor.accounting' | translate}}</a></li>
        <li><a href="#/viewprovisioningentries">{{'label.anchor.viewprovisioningeentries' | translate}}</a></li>
        <li class="active">{{'label.anchor.provisionigetriespreview' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4></h4>
            </div>
            <form name="createprovisioningcriteriaform" novalidate="" class="form-horizontal" rc-submit="submit()">
                <api-validate></api-validate>
                <fieldset>
                    <h3 class="bolder">{{'label.heading.createdby' | translate}} {{':  '}} {{createdby}} &nbsp;&nbsp;&nbsp;&nbsp;
                        {{'label.heading.executedon' | translate}} {{':  '}} {{executedAt | DateFormat}}&nbsp;&nbsp;&nbsp;&nbsp;
                        {{'label.heading.provisioningasofdate' | translate}} {{':  '}} {{provisioningDate | DateFormat}}&nbsp;&nbsp;&nbsp;&nbsp;
                        {{'label.heading.amounttobereserved' | translate}} {{':  '}} {{totalReservedAmount | number}}
                    </h3>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{'label.heading.runscope' | translate}}</label>
                        <div class="col-sm-8"><p class="form-control-static">{{runScope}}</p></div>
                    </div>
                    <div class="form-group" ng-if="criteriaVersions.length > 0">
                        <label class="control-label col-sm-2">{{'label.heading.criteriaversionsused' | translate}}</label>
                        <div class="col-sm-8">
                            <ul class="list-unstyled">
                                <li ng-repeat="cv in criteriaVersions">
                                    {{cv.criteriaName}} — {{'label.heading.version' | translate}} {{cv.versionNo}} (ID: {{cv.criteriaVersionId}})
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <select id="offices" chosen="offices" class="form-control" ng-model="formData.officeId" ng-options="office.id as office.name for office in offices" value="{{office.id}}">
                                <option class="displaynone" value="">{{'label.selectoffice' | translate}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select id="loanproducts" chosen="loanproducts" class="form-control" ng-model="formData.loanproductId" ng-options="loanproduct.id as loanproduct.name for loanproduct in loanproducts" value="{{loanproduct.id}}">
                                <option class="displaynone" value="">{{'label.selectloanproduct' | translate}}</option>
                            </select>
                        </div>

                        <div class="col-sm-3">
                            <select id="provisioningcategories" chosen="provisioningcategories" class="form-control" ng-model="formData.categoryId" ng-options="category.id as category.categoryName for category in provisioningcategories" value="{{category.id}}">
                                <option class="displaynone" value="">{{'label.selectprovisioningcategory' | translate}}</option>
                            </select>
                        </div>

                        <div class="col-sm-1 center">
                            <a ng-click="searchTransaction()" class="btn btn-primary" has-permission='READ_JOURNALENTRY'><i
                                    class="fa fa-search "></i></a>
                        </div>
                    </div>

                    <table class="table" class="width100">
                        <tr class="graybg">
                            <th>{{'label.heading.officeName' | translate}}</th>
                            <th>{{'label.heading.productname' | translate}}</th>
                            <th>{{'label.heading.currencycode' | translate}}</th>
                            <th>{{'label.heading.classification' | translate}}</th>
                            <th>{{'label.heading.categoryname' | translate}}</th>
                            <th>{{'label.heading.criteriaversion' | translate}}</th>
                            <th>{{'label.heading.provisioningamount' | translate}}</th>
                            <th>{{'label.input.liabilityaccount' | translate}}</th>
                            <th>{{'label.input.expenseaccount' | translate}}</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat-start="provisioningentry in transactions.currentPageItems">
                            <td>{{provisioningentry.officeName}}</td>
                            <td>{{provisioningentry.productName}}</td>
                            <td>{{provisioningentry.currencyCode}}</td>
                            <td>{{formatClassificationType(provisioningentry.classificationType)}}</td>
                            <td>{{provisioningentry.categoryName}}</td>
                            <td>{{provisioningentry.criteriaVersionNo}} (ID: {{provisioningentry.criteriaVersionId}})</td>
                            <td>{{provisioningentry.amountreserved | number}}</td>
                            <td>{{provisioningentry.liabilityAccountName}}</td>
                            <td>{{provisioningentry.expenseAccountName}}</td>
                            <td>
                                <button class="btn btn-default btn-sm" ng-if="provisioningentry.loans.length > 0"
                                        ng-click="toggleLoans(provisioningentry)">
                                    {{provisioningentry.showLoans ? ('label.button.hide' | translate) : ('label.button.viewloans' | translate)}}
                                </button>
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-if="provisioningentry.showLoans && provisioningentry.loans.length > 0">
                            <td colspan="10">
                                <table class="table table-condensed">
                                    <tr class="graybg">
                                        <th>{{'label.heading.loanaccountnum' | translate}}</th>
                                        <th>{{'label.heading.outstandingamount' | translate}}</th>
                                        <th>{{'label.heading.provisioningamount' | translate}}</th>
                                    </tr>
                                    <tr ng-repeat="loan in provisioningentry.loans">
                                        <td>{{loan.accountNo}}</td>
                                        <td>{{loan.outstandingBalance | number}}</td>
                                        <td>{{loan.provisioningAmount | number}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <ul class="pager">
                        <li class="previous"><a id="prev" ng-click="transactions.previous()" href="" ng-disabled="!transactions.hasPrevious()">&larr; {{'label.button.previous' | translate}}</a></li>
                        <li class="next"><a id="next" ng-click="transactions.next()" href="" ng-disabled="!transactions.hasNext()">{{'label.button.next' | translate}} </a></li>
                    </ul>

                    <div class="col-md-offset-3">
                        <button ng-show="isjournalEntriesCreated" id="save" type="submit" class="btn btn-primary" has-permission='CREATE_JOURNAL_ENTRY'>{{'label.button.addjournalentry' | translate}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
