<div class="content-container" ng-controller="NovuCampaignsController">
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a></li>
        <li class="active">Novu campaigns</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>Novu campaigns</h4>
            </div>
            <p class="text-muted">
                Send SMS, WhatsApp, email, or in-app messages to clients and staff when a loan event happens,
                on a schedule, or immediately.
            </p>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <input ng-model="filterText" type="text" class="form-control" placeholder="{{'label.input.filterbyname' | translate}}">
                </div>
                <div class="col-sm-12 col-md-6">
                    <a href="#/createnovucampaign" class="btn btn-primary pull-right" has-permission="CREATE_NOVUCAMPAIGN">
                        <i class="fa fa-plus fa fa-large"></i>&nbsp;&nbsp;{{'label.button.createcampaign' | translate}}
                    </a>
                    <button class="btn btn-default pull-right" style="margin-right: 8px;" ng-click="syncSubscribers()" ng-disabled="syncing" has-permission="CREATE_NOVUCAMPAIGN">
                        <i class="fa fa-users"></i> {{syncing ? 'Syncing…' : 'Sync contacts'}}
                    </button>
                </div>
            </div>
            <p ng-if="syncResult" class="text-success">
                Synced {{syncResult.synced}} of {{syncResult.total}}; {{syncResult.failed}} failed.
            </p>
            <br>
            <table class="table">
                <thead>
                <tr class="graybg">
                    <th>{{'label.heading.campaignname' | translate}}</th>
                    <th>Channels</th>
                    <th>{{'label.heading.triggertype' | translate}}</th>
                    <th>{{'label.heading.status' | translate}}</th>
                    <th>Workflow</th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer-main" ng-repeat="campaign in campaigns | filter:{campaignName:filterText}">
                    <td class="pointer" data-ng-click="routeTo(campaign.id)">{{campaign.campaignName}}</td>
                    <td class="pointer" data-ng-click="routeTo(campaign.id)">{{campaign.channels}}</td>
                    <td class="pointer" data-ng-click="routeTo(campaign.id)">{{campaign.triggerType}}</td>
                    <td class="pointer" data-ng-click="routeTo(campaign.id)">
                        <span class="label" ng-class="campaign.active ? 'label-success' : 'label-default'">{{statusLabel(campaign)}}</span>
                    </td>
                    <td class="pointer" data-ng-click="routeTo(campaign.id)"><code>{{campaign.workflowId}}</code></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
