<div class="col-md-12" ng-controller="HistoricalPenaltyWaiverController">
    <ul class="breadcrumb">
        <li><a href="#/viewloanaccount/{{loanId}}">{{'label.anchor.viewloanaccount' | translate}}</a></li>
        <li class="active">{{'label.heading.historicalpenaltywaiver' | translate}}</li>
    </ul>

    <div class="alert alert-info" ng-if="charge">
        <strong>{{charge.name}}</strong>
        &mdash; <span translate="label.input.duedate">Due Date</span>: {{charge.dueDate | DateFormat}}
        &mdash; <span translate="label.input.amount">Amount</span>: {{charge.amount | number:2}}
        &mdash; <span translate="label.input.amountpaid">Paid</span>: {{charge.amountPaid | number:2}}
        &mdash; <span translate="label.input.amountwaived">Waived</span>: {{charge.amountWaived | number:2}}
    </div>

    <div class="alert alert-danger" ng-if="previewFailed">
        <span translate="label.message.historicalpenaltywaiver.previewfailed">The preview could not be produced. This penalty may not be eligible for a historical waiver.</span>
    </div>

    <!-- Step 1: what to waive -->
    <form class="form-horizontal well" name="waiverForm" novalidate ng-if="step === 'input'">
        <api-validate></api-validate>
        <fieldset>
            <legend><i class="fa fa-history"></i>&nbsp;{{'label.heading.historicalpenaltywaiver' | translate}}</legend>

            <div class="form-group">
                <label class="control-label col-sm-3" for="waiverAmount">{{'label.input.waiveramount' | translate}}<span class="required">*</span></label>
                <div class="col-sm-5">
                    <input id="waiverAmount" name="waiverAmount" type="number" class="form-control"
                           ng-model="formData.waiverAmount" ng-change="loadPreview()" required/>
                    <span class="help-block" translate="label.help.waiveramount">Leave at the full penalty balance to waive it entirely, or reduce it for a partial waiver.</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="waiverEffectiveDate">{{'label.input.waivereffectivedate' | translate}}<span class="required">*</span></label>
                <div class="col-sm-5">
                    <input id="waiverEffectiveDate" name="waiverEffectiveDate" type="text" class="form-control"
                           datepicker-pop="{{dateFormat}}" ng-model="formData.waiverEffectiveDate"
                           datepicker-options="dateOptions" required>
                    <span class="help-block" ng-if="preview.suggestedEffectiveDate">
                        <span translate="label.help.suggestedeffectivedate">Suggested: the date of the earliest repayment that paid this penalty</span>
                        &mdash; {{preview.suggestedEffectiveDate | DateFormat}}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="reason">{{'label.input.reason' | translate}}<span class="required">*</span></label>
                <div class="col-sm-5">
                    <textarea id="reason" name="reason" class="form-control" rows="3"
                              ng-model="formData.reason" maxlength="1000" required></textarea>
                </div>
            </div>

            <div class="form-group" ng-if="preview.requiresApproval">
                <div class="col-sm-offset-3 col-sm-7">
                    <div class="alert alert-warning">
                        <span translate="label.message.historicalpenaltywaiver.requiresapproval">This waiver crosses an approval threshold and will be held until an approver acts on it.</span>
                        <span ng-if="preview.approvalTrigger">({{preview.approvalTrigger}})</span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="preview.requiresApproval">
                <label class="control-label col-sm-3" for="nextApproverUserId">{{'label.input.nextapprover' | translate}}<span class="required">*</span></label>
                <div class="col-sm-5">
                    <select id="nextApproverUserId" name="nextApproverUserId" class="form-control" ng-model="formData.nextApproverUserId"
                            ng-options="approver.id as approver.username for approver in preview.approverOptions" required>
                        <option value="" translate="label.input.selectapprover">-- Select an approver --</option>
                    </select>
                    <span class="help-block" ng-if="preview.approverOptions.length === 0" translate="label.help.noapprovers">
                        No approver is mapped to this loan product. An administrator must map one before this waiver can be submitted.
                    </span>
                </div>
            </div>

            <br/>
            <div class="col-md-offset-3">
                <button id="cancel" type="button" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
                <button id="review" type="button" class="btn btn-primary" ng-click="review()"
                        ng-disabled="isPreviewing || !formData.reason || !formData.waiverEffectiveDate">
                    {{'label.button.review' | translate}}
                </button>
            </div>
        </fieldset>
    </form>

    <!-- Step 2: what it will do -->
    <div class="well" ng-if="step === 'preview' && preview">
        <api-validate></api-validate>

        <div class="alert alert-danger" ng-if="!preview.correctionAllowed">
            <span translate="label.message.historicalpenaltywaiver.periodclosed">The effective date falls in a closed accounting period and corrections there are switched off. This waiver cannot be posted.</span>
            <span ng-if="preview.latestClosureDate"> ({{preview.latestClosureDate | DateFormat}})</span>
        </div>

        <div class="alert alert-warning" ng-if="preview.requiresApproval">
            <span translate="label.message.historicalpenaltywaiver.willbeheld">Submitting will create an approval request. Nothing on the loan changes until it is approved.</span>
        </div>

        <h4 translate="label.heading.chargeimpact">Penalty</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th translate="label.input.amountpaid">Paid</th>
                    <th translate="label.input.amountwaived">Waived</th>
                    <th translate="label.input.amountoutstanding">Outstanding</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span translate="label.input.before">Before</span></td>
                    <td>{{preview.chargeAmountPaidBefore | number:2}}</td>
                    <td>{{preview.chargeAmountWaivedBefore | number:2}}</td>
                    <td>{{preview.chargeAmountOutstandingBefore | number:2}}</td>
                </tr>
                <tr>
                    <td><span translate="label.input.after">After</span></td>
                    <td>0.00</td>
                    <td>{{preview.chargeAmountWaivedAfter | number:2}}</td>
                    <td>{{preview.chargeAmountOutstandingAfter | number:2}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <h4 translate="label.heading.affectedtransactions">Affected Transactions</h4>
        <p>
            <span translate="label.input.strategy">Processing Strategy</span>: <strong>{{preview.transactionProcessingStrategyName}}</strong>
            &mdash; <span translate="label.input.reprocessedcount">Transactions reprocessed</span>: <strong>{{preview.reprocessedTransactionCount}}</strong>
        </p>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th translate="label.input.date">Date</th>
                    <th translate="label.input.type">Type</th>
                    <th translate="label.input.change">Change</th>
                    <th translate="label.input.amount">Amount</th>
                    <th translate="label.input.principal">Principal</th>
                    <th translate="label.input.interest">Interest</th>
                    <th translate="label.input.fees">Fees</th>
                    <th translate="label.input.penalties">Penalties</th>
                </tr>
                </thead>
                <tbody ng-repeat="txn in preview.transactions">
                <tr ng-if="txn.changeType !== 'NEW'">
                    <td rowspan="2">{{txn.transactionDate | DateFormat}}</td>
                    <td rowspan="2">{{txn.transactionType}}</td>
                    <td rowspan="2">
                        <span class="label" ng-class="{'label-default': txn.changeType === 'UNCHANGED', 'label-warning': txn.changeType === 'REVERSED_AND_REPLACED'}">{{txn.changeType}}</span>
                    </td>
                    <td>{{txn.amountBefore | number:2}}</td>
                    <td>{{txn.principalBefore | number:2}}</td>
                    <td>{{txn.interestBefore | number:2}}</td>
                    <td>{{txn.feesBefore | number:2}}</td>
                    <td>{{txn.penaltiesBefore | number:2}}</td>
                </tr>
                <tr ng-if="txn.changeType !== 'NEW'">
                    <td>{{txn.amountAfter | number:2}}</td>
                    <td>{{txn.principalAfter | number:2}}</td>
                    <td>{{txn.interestAfter | number:2}}</td>
                    <td>{{txn.feesAfter | number:2}}</td>
                    <td>{{txn.penaltiesAfter | number:2}}</td>
                </tr>
                <tr ng-if="txn.changeType === 'NEW'">
                    <td>{{txn.transactionDate | DateFormat}}</td>
                    <td>{{txn.transactionType}}</td>
                    <td><span class="label label-success">{{txn.changeType}}</span></td>
                    <td>{{txn.amountAfter | number:2}}</td>
                    <td>{{txn.principalAfter | number:2}}</td>
                    <td>{{txn.interestAfter | number:2}}</td>
                    <td>{{txn.feesAfter | number:2}}</td>
                    <td>{{txn.penaltiesAfter | number:2}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <h4 translate="label.heading.loanimpact">Loan</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th translate="label.input.status">Status</th>
                    <th translate="label.input.totaloutstanding">Total Outstanding</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span translate="label.input.before">Before</span></td>
                    <td>{{preview.loanStatusBefore.value}}</td>
                    <td>{{preview.totalOutstandingBefore | number:2}}</td>
                </tr>
                <tr>
                    <td><span translate="label.input.after">After</span></td>
                    <td>{{preview.loanStatusAfter.value}}</td>
                    <td>{{preview.totalOutstandingAfter | number:2}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <button id="back" type="button" class="btn btn-default" ng-click="back()">{{'label.button.back' | translate}}</button>
            <button id="confirm" type="button" class="btn btn-warning" ng-click="submit()" ng-disabled="!canSubmit()">
                <span ng-if="!preview.requiresApproval" translate="label.button.confirm">Confirm</span>
                <span ng-if="preview.requiresApproval" translate="label.button.sendforapproval">Send for Approval</span>
            </button>
            <button id="cancelPreview" type="button" class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
        </div>
    </div>
</div>
