<div class="content-container" ng-controller="ViewLoanCollateralDataController">
    <ul class="breadcrumb">
        <li><a href="#/viewloanaccount/{{loanId}}">{{'label.anchor.viewloanaccount' | translate}}</a></li>
        <li class="active">{{ 'label.anchor.viewcollateral' | translate}}({{collateral.type.name}})</li>
    </ul>
<div class="card">
    <div class="content">
        <div class="toolbar">
            <h4>{{'label.heading.viewcollateral' | translate}}</h4>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td class="width20">{{'label.heading.name' | translate}}</td>
                    <td class="width80">{{collateral.type.name}}</td>
                </tr>
                <tr>
                    <td>{{'label.heading.description' | translate}}</td>
                    <td>{{collateral.description}}</td>
                </tr>
                <tr>
                    <td>{{'label.heading.currency' | translate}}</td>
                    <td>{{collateral.currency.name}}</td>
                </tr>
                <tr>
                    <td>{{'label.heading.value' | translate}}</td>
                    <td>{{collateral.currency.displaySymbol}}&nbsp;&nbsp;{{collateral.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
