<div class="content-container" ng-controller="PartnerClientHistoryController">
    <ul class="breadcrumb">
        <li><a href="#/clients">{{'label.heading.clients' | translate}}</a></li>
        <li><a href="#/viewclient/{{clientId}}">{{client.displayName}}</a></li>
        <li class="active">{{'label.heading.partnerhistory' | translate}}</li>
    </ul>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'label.heading.partnerhistory' | translate}} - {{client.displayName}}</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info" ng-if="history.length === 0">
                        <i class="fa fa-info-circle"></i> No partner assignment history found for this client.
                    </div>

                    <div class="table-responsive" ng-if="history.length > 0">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>{{'label.heading.date' | translate}}</th>
                                    <th>{{'label.heading.action' | translate}}</th>
                                    <th>{{'label.input.partner' | translate}}</th>
                                    <th>{{'label.input.reason' | translate}}</th>
                                    <th>{{'label.heading.user' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="record in history">
                                    <td>{{record.changedDate | DateFormat}}</td>
                                    <td>{{formatAction(record.actionType)}}</td>
                                    <td>{{formatPartnerCode(record.partnerCode || record.newPartnerCode)}}</td>
                                    <td>{{record.reason || '-'}}</td>
                                    <td>{{record.changedByName || '-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-0">
                            <button type="button" class="btn btn-default" ng-click="routeToClient()">
                                <i class="fa fa-arrow-left"></i> {{'label.button.back' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
